#h-menu{
    width: 100%; background-color: yellowgreen;
}
#h-menu ul{
    list-style: none; padding: 0px; font-size: 0px;
}
#h-menu ul li{
    display: inline-block; width: 100px;
    position: relative; 
}
#h-menu ul li a{
    display: block; 
    padding: 5px; background-color: #445e10;
    text-align: center; 
    text-decoration: none; color: #fff;
    font-size: 18px;
}
#h-menu ul li a:hover{
    background-color: yellow;
    color: red;
}
/*---- menu 2 cấp ------*/
#h-menu ul li ul{
    position: absolute; display: none;
}
#h-menu ul li:hover>ul{    display: block;   }