body{
    margin: 0px; padding: 0px; background-color: #ccc;
}
#page{
    width: 1000px;
    margin: 0px auto;
    background-color: #fff;
}
header{ height: 100px; background-color: yellowgreen;}
nav{ height: 30px; background-color: blue; color: yellow;}
article{ 
    min-height: 300px; background-color:yellow;
    width: 800px; float: left;
}
aside{ 
    min-height: 300px; background-color: cyan;
    width: 200px; float: left;
}
footer{ 
    min-height: 100px; background-color: darkgrey;
    clear: both;
}